* {
    margin: 0;
    padding: 0;
} 

h1 {
    display: flex;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 10%;
    
}

.conteneur {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu {
    width: 450px;
    height: 500px;
    background-color: RED;
}

footer {
    width: 100%;
    height: 50%;
    position: relative;
    margin-bottom: 0;
    background-color: yellow;
}


.logo {
    width: 15%;
    float: right;
    margin-top: 2px;
    margin-right: 5px;
} 

.footer {
    width: 100%;
    height: 20%;
    position: absolute;
    margin-bottom: 0;
}

.video {
    width: 50%;
    height: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}